@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image: url(assets/Bingo.avif);
  background-size: cover;
  background-position: center;
}

h1 {
  color: gray;
  font-size: 3em;
}

#table-block {
  margin: 25px auto;
  width: 100%;
  max-height: 70%;
  overflow: hidden;
}

.cells {
  width: 5%;
  display: inline-block;
  margin: 1px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid black;
  font-size: 1.2em;
  cursor: pointer;
}

.inEvidenza {
  background-color: gray;
  color: white;
}

#extraction-button {
  padding: 15px 25px;
  font-size: 1.2em;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#extraction-button:hover {
  background-color: silver;
}
